.button {
  --accent-color: DodgerBlue;
  background-color: var(--accent-color);
  color: #fff;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.secondary {
  background-color: transparent;
  color: var(--accent-color);
}

.tertiary {
  background-color: transparent;
  color: var(--accent-color);
  border: transparent;
}
